//Основные цвета
$bg: #111111;
$white: #ffffff;
$yellow-green: #2AFB62;
$border-dark: #303030;
$gray: #768199;

//Градиенты
$gradient-primary: linear-gradient(315deg, #57ebde 0%, #aefb2a 100%);

//Шрифты
$font-primary: "Open Sans", "Arial", sans-serif;
$font-secondary: "RussoOne", "Arial", sans-serif;