@use "../styles/variables" as *;

.case-card {
  grid-column: span 1;
  border-radius: 16px;
  overflow: hidden;
  background: #212121;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 12px rgba(195, 255, 78, 0.4); /* Неоновое свечение при наведении */
  }
}

.case-card__image {
  width: 100%;
  height: auto;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.4s ease;
  }

  .case-card:hover & img {
    transform: scale(1.04);
  }
}

.case-card__info {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}

.case-card__year {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: $yellow-green;
}

.case-card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: $white;
}

.case-card__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: $gray;
}

@media (max-width: 1280px) {
  .case-card__title {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .case-card__info {
    padding: 16px;
  }

  .case-card__year {
    font-size: 14px;
  }

  .case-card__title {
    font-size: 18px;
  }

  .case-card__desc {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .case-card__info {
    gap: 8px;
  }

  .case-card__title {
    font-size: 16px;
  }
}