/* Контейнер для всего блока */
.social-bar {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center;
}

.social-link {
  border-radius: 8px;
}

/* Размер самих иконок внутри кнопки */
.social-link img {
  width: 48px;
  height: 48px;
  display: block;
}

/* Эффект при наведении (немного увеличивается) */
.social-link:hover {
  transform: scale(1.08);
  box-shadow: 0 0 12px rgba(195, 255, 78, 0.4); /* Неоновое свечение при наведении */
}

@media (max-width: 1024px) {
  .social-link img {
    width: 40px;
    height: 40px;
  }
}