@use "../../styles/variables" as *;

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.textarea {
  padding: 12px 16px;
  background: $plashka;
  border: 1px solid $border-light;
  border-radius: 8px;
  color: $white;
  font-size: 14px;
  transition: all 0.3s ease;
  resize: vertical;
  min-height: 100px;
  width: 100%;
  font-family: inherit;

  &::placeholder {
    color: $gray;
    font-weight: 300;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(195, 255, 78, 0.4);
  }

  &--error {
    box-shadow: 0 0 8px rgba(255, 68, 68);
  }

  &__error {
    font-size: 12px;
    font-weight: 300;
    color: #ff4444;
    margin-top: 2px;
  }
}